/* stylelint-disable at-rule-no-unknown */

@define-mixin heading-1 {
	font-size: var(--font-h1);
	font-weight: var(--font-weight-medium);
	font-family: var(--font-family-headings);
	line-height: 1.3;
}

@define-mixin heading-2 {
	font-size: var(--font-h2);
	font-weight: var(--font-weight-medium);
	font-family: var(--font-family-headings);
	line-height: 1.3;
}

@define-mixin heading-3 {
	font-size: var(--font-h3);
	font-weight: var(--font-weight-medium);
	font-family: var(--font-family-headings);
	line-height: 1.3;
}

@define-mixin heading-4 {
	font-size: var(--font-h4);
	font-weight: var(--font-weight-medium);
	font-family: var(--font-family-headings);
	line-height: 1.3;
}

@define-mixin heading-5 {
	font-size: var(--font-h5);
	font-weight: var(--font-weight-medium);
	font-family: var(--font-family-headings);
	line-height: 1.3;
}

@define-mixin heading-6 {
	font-size: var(--font-h6);
	font-weight: var(--font-weight-medium);
	font-family: var(--font-family-headings);
	line-height: 1.3;
}
