---
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro"
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro"
import { getPostBySlug, getAllPosts } from "@lib/wordpress"

export async function getStaticPaths() {
  const posts = await getAllPosts();
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post: {
        slug: post.slug,
        collection: 'blog',
        data: {
          title: post.title,
          summary: post.excerpt,
          date: new Date(post.date),
          tags: post.tags?.nodes.map(tag => tag.name) || [],
        },
        body: post.content,
        render: async () => ({
          Content: () => post.content
        })
      }
    },
  }));
}

const { post } = Astro.props;
const { title, summary } = post.data;
---

<PageLayout title={title} description={summary}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={post}/>
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <div set:html={post.body} />
    </div>
  </BottomLayout>
</PageLayout>