---
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro"
import { getAllPosts } from "@lib/wordpress"
import { transformWordPressPost } from "@lib/transformers"
import type { TransformedPost } from "@lib/transformers"

export async function getStaticPaths() {
  const posts = await getAllPosts();
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post: transformWordPressPost(post)
    },
  }));
}

interface Props {
  post: TransformedPost;
}

const { post } = Astro.props;
const { title, summary } = post.data;
---

<PageLayout title={title} description={summary}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={post}/>
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <div set:html={post.body} />
    </div>
  </BottomLayout>
</PageLayout>