/* Fixed :view-transition. */
.post {
	/* Audio. */
	.kg-audio-thumbnail {
		clip-path: inset(0 round var(--radius-1));
	}

	/* Video. */
	.kg-video-card video,
	.kg-video-overlay,
	.kg-video-player-container {
		clip-path: inset(0 round var(--radius-2));
	}

	/* Embed. */
	.kg-embed-card > iframe {
		clip-path: inset(0 round var(--radius-2));
	}
}
