/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

@import url('_mixins/color-scheme.css');
@import url('_mixins/heading.css');
@import url('_breakpoints.css');

/* Base. */
@import url('vars.css');
@import url('base/reboot.css');
@import url('base/main.css');
@import url('base/typography.css');
@import url('base/forms.css');
@import url('base/view-transition.css');

/* Components. */
@import url('component/button-share.css');
@import url('component/button.css');
@import url('component/card.css');
@import url('component/icon-animation.css');
@import url('component/lightbox.css');
@import url('component/logo.css');
@import url('component/marquee.css');
@import url('component/dropdown.css');
@import url('component/navigation.css');
@import url('component/pagination.css');
@import url('component/pricing.css');
@import url('component/social-links.css');
@import url('component/table-of-contents.css');
@import url('component/toggle-color-scheme.css');
@import url('component/tooltip.css');

/* Ghost components. */
@import url('ghost/audio.css');
@import url('ghost/blockquote.css');
@import url('ghost/bookmark.css');
@import url('ghost/buttons.css');
@import url('ghost/callout.css');
@import url('ghost/code.css');
@import url('ghost/cta.css');
@import url('ghost/embed.css');
@import url('ghost/file.css');
@import url('ghost/gallery.css');
@import url('ghost/image.css');
@import url('ghost/product.css');
@import url('ghost/signup-header.css');
@import url('ghost/footnote.css');
@import url('ghost/toggle.css');
@import url('ghost/video.css');

/* Layout. */
@import url('layout/layout.css');
@import url('layout/container.css');
@import url('layout/header.css');
@import url('layout/footer.css');
@import url('layout/popup.css');
@import url('layout/scroll-progress.css');
@import url('layout/templates.css');

/* Sections. */
@import url('section/base.css');
@import url('section/cards.css');
@import url('section/hero.css');
@import url('section/subscription.css');
@import url('section/tags.css');

/* Pages. */
@import url('pages/contact.css');
@import url('pages/post.css');
@import url('pages/error.css');

/* Fixed. */
@import url('_fixed-view-transition.css');
