/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable function-no-unknown */

/* Variables
/* ---------------------------------------------------------- */

:root {
	/* Color accent. */
	--color-accent: var(--ghost-accent-color);
	--color-accent-foreground: #fff;
	--color-dark-accent: var(--ghost-accent-color);
	--color-dark-accent-foreground: #fff;

	/* Colors. */
	--color-contrast: #000;
	--color-background: #f9f9f9;
	--color-background-100: #fff;
	--color-background-200: #f1f1f1;
	--color-background-300: #eaeaea;
	--color-background-400: #dbdbdb;
	--color-foreground: #333;
	--color-secondary: #808080;
	--color-mute: #a8a8a8;
	--color-border: rgb(102 102 102 / 20%);
	--color-success: #348f3f;
	--color-error: #ff4c4c;

	/* Font. */
	--font-family-headings: var(--gh-font-heading, 'Geist', sans-serif);
	--font-family-body: var(--gh-font-body, 'Geist', sans-serif);
	--font-family-button: var(--gh-font-body, 'Geist', sans-serif);
	--font-small: 0.875rem; /* 14px */
	--font-x-small: 0.75rem; /* 12px */

	/* Headings. */
	--font-h1: 1.125rem; /* 18px */
	--font-h2: 1.063rem; /* 17px */
	--font-h3: 1rem; /* 16px */
	--font-h4: 1rem; /* 16px */
	--font-h5: 1rem; /* 16px */
	--font-h6: 1rem; /* 16px */

	/* Weights. */
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* Spacings. */
	--spacing-1: 0.125rem; /* 2px */
	--spacing-2: 0.25rem; /* 4px */
	--spacing-3: 0.375rem; /* 6px */
	--spacing-4: 0.5rem; /* 8px */
	--spacing-5: 0.625rem; /* 10px */
	--spacing-6: 0.75rem; /* 12px */
	--spacing-7: 1rem; /* 16px */
	--spacing-8: 1.25rem; /* 20px */
	--spacing-9: 1.875rem; /* 30px */
	--spacing-10: 2.5rem; /* 40px */

	/* Border radius. */
	--radius-1: 6px;
	--radius-2: 12px;

	/* Content. */
	--padding-v: var(--spacing-9);
	--padding-h: var(--spacing-8);

	/* Header. */
	--header--min-height: 3.75rem; /* 60px */

	/* Navigation. */
	--navigation--gap-v: 0px;
	--navigation--gap-h: var(--spacing-1);
	--navigation--link--padding-v: var(--spacing-1);
	--navigation--link--padding-h: var(--spacing-4);
	--navigation--link--font-size: var(--font-small);
	--navigation--link--min-height: auto;
	--navigation--link--color: var(--color-secondary);
	--navigation--link--background-color: transparent;
	--navigation--link-hover--color: var(--color-contrast);
	--navigation--link-hover--background-color: transparent;
	--navigation--link-current--color: var(--color-contrast);
	--navigation--link-current--background-color: transparent;

	/* Button. */
	--button--padding-v: 0.625rem;
	--button--padding-h: 1rem;
	--button--min-width: auto;
	--button--min-height: 2.25rem; /* 36px */
	--button--font-size: var(--font-small);
	--button--font-weight: var(--font-weight-medium);
	--button--line-height: 1;
	--button--border-radius: var(--radius-1);
	--button--color: var(--color-accent-foreground);
	--button--background-color: var(--color-accent);
	--button--opacity: 1;
	--button--transition:
		background-color 0.15s ease, color 0.15s ease, opacity 0.15s ease;
	--button-hover--color: var(--color-accent-foreground);
	--button-hover--background-color: var(--color-accent);
	--button-hover--opacity: 0.9;

	/* Button small. */
	--button-sm--padding-v: 0.5rem;
	--button-sm--padding-h: 0.75rem;
	--button-sm--min-height: 1.875rem;
	--button-sm--font-size: var(--font-small);

	/* Button extra small. */
	--button-xs--padding-v: 0.375rem;
	--button-xs--padding-h: 0.625rem;
	--button-xs--min-height: 1.625rem;
	--button-xs--font-size: var(--font-x-small);

	/* Container. */
	--container--width: 440px;
	--container-wide--width: 800px;

	color-scheme: light;
}

/* prettier-ignore */
@mixin color-scheme-dark :root {
	& {
		--color-accent: var(--color-dark-accent);
		--color-accent-foreground: var(--color-dark-accent-foreground);
		--color-contrast: #fff;
		--color-background: #1F2023;
		--color-background-100: #131416;
		--color-background-200: #2C2D30;
		--color-background-300: #35373B;
		--color-background-400: #4E4E54;
		--color-foreground: #C7CBD5;
		--color-secondary: #9295A0;
		--color-mute: #777A88;
		--color-border: rgb(147 148 159 / 40%);

		color-scheme: dark;
	}
}
