/* stylelint-disable at-rule-no-unknown */

.section-hero {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-6);

	> h1[style]::after {
		content: '';
		display: inline-block;
		width: 0.375rem; /* 6px */
		height: 0.375rem;
		background-color: var(--tag--color);
		border-radius: 50%;
		margin-left: var(--spacing-4);
		vertical-align: 0.15em;
	}

	p {
		margin-bottom: 0;
	}
}

/* Align center. */
.section-hero-center {
	align-items: center;
	text-align: center;

	.social-links {
		justify-content: center;
	}
}

/* Subtitle. */
.section-hero-subtitle {
	color: var(--color-secondary);
	font-size: var(--font-small);
	font-weight: var(--font-weight-medium);
}

.section-hero h1 + .section-hero-subtitle {
	margin-top: calc(var(--spacing-4) * -1);
}

/* Location. */
.section-hero-location {
	display: flex;
	align-items: center;
	gap: var(--spacing-2);

	/* Icon marker. */
	&::before {
		content: '';
		flex: 0 0 auto;
		display: block;
		width: 1rem;
		height: 1rem;
		background-color: currentcolor;
		mask-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3327 6.66668C13.3327 10.6667 7.99935 14.6667 7.99935 14.6667C7.99935 14.6667 2.66602 10.6667 2.66602 6.66668C2.66602 5.25219 3.22792 3.89563 4.22811 2.89544C5.22831 1.89525 6.58486 1.33334 7.99935 1.33334C9.41384 1.33334 10.7704 1.89525 11.7706 2.89544C12.7708 3.89563 13.3327 5.25219 13.3327 6.66668Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8 8.66666C9.10457 8.66666 10 7.77123 10 6.66666C10 5.56209 9.10457 4.66666 8 4.66666C6.89543 4.66666 6 5.56209 6 6.66666C6 7.77123 6.89543 8.66666 8 8.66666Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
		mask-size: 100% 100%;
	}
}

/* Feature image. */
.section-hero-image {
	display: block;
	margin: var(--spacing-2) 0;

	> picture {
		display: block;
		width: 100%;
		aspect-ratio: 16/9;
		border-radius: var(--radius-2);
		overflow: hidden;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-color: var(--color-background-300);
	}
}
