{{!--
	Link or Sub Link.

	Info: </div> and </ul> are closed automatically in the navigation.hbs.

	Variables:
		- nav: data included in {{navigation}}.
		- item: data included in the link.
		- this: all data.
--}}

<a href="{{item.url}}" class="nav-link nav-link-{{item.slug}}{{#if item.current}} nav-link-current{{/if}}">
	<span class="label">{{item.label}}</span>
</a>
