<div class="button-share navigation navigation-share">
	<button class="button button-icon button-grey button-xs dropdown-toggle" aria-expanded="false" aria-label="{{t 'Share this post'}}">
		{{> "icons/share"}}
	</button>
	<div class="dropdown dropdown-top">
		<ul>{{> "post/social-share"}}</ul>
	</div>
</div>
