<div class="post-comments">
	<div class="popup-header">
		<h2 class="popup-title">{{t 'Discussion'}}</h2>
		<button class="button button-grey button-xs button-icon popup-close" aria-label="{{t 'Hide popup'}}">
			{{> "icons/x"}}
		</button>
	</div>
	{{comments title="" count=false}}
</div>