{{!-- Featured wrapper (support video). --}}
<div class="post-featured">
	{{~#if feature_image}}
	<figure class="post-featured-image">
		{{> "component/image" fast=true src=feature_image alt=feature_image_alt altElse=title}}
		{{#if feature_image_caption}}
			<figcaption>{{feature_image_caption}}</figcaption>
		{{/if}}
	</figure>
	{{/if~}}
</div>