<div class='toc-wrapper'>
	<div class='toc toc-hidden toc-scroll'>
		<button
			class='toc-button button button-grey button-icon button-xs'
			aria-label='{{t "Collapse table of contents"}}'
			aria-expanded='false'
		>
			<svg
				width='16'
				height='16'
				viewBox='0 0 16 16'
				fill='none'
				xmlns='http://www.w3.org/2000/svg'
			>
				<path
					d='M1.25 4.25H10.75'
					stroke='currentColor'
					stroke-width='1.5'
					stroke-linecap='round'
				/>
				<path
					d='M3.25 8.25H12.75'
					stroke='currentColor'
					stroke-width='1.5'
					stroke-linecap='round'
				/>
				<path
					d='M5.25 12.25H14.75'
					stroke='currentColor'
					stroke-width='1.5'
					stroke-linecap='round'
				/>
			</svg>
		</button>

		<div class='toc-title'>
			<svg
				width='16'
				height='16'
				viewBox='0 0 16 16'
				fill='none'
				xmlns='http://www.w3.org/2000/svg'
			>
				<path
					d='M1.25 4.25H10.75'
					stroke='currentColor'
					stroke-width='1.5'
					stroke-linecap='round'
				/>
				<path
					d='M3.25 8.25H12.75'
					stroke='currentColor'
					stroke-width='1.5'
					stroke-linecap='round'
				/>
				<path
					d='M5.25 12.25H14.75'
					stroke='currentColor'
					stroke-width='1.5'
					stroke-linecap='round'
				/>
			</svg>

			{{t 'On this page'}}
		</div>

		<div class="toc-unlock-link" style="display: none;">
			<a href="#post-upgrade-cta">
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 11.3333C8.36819 11.3333 8.66667 11.0349 8.66667 10.6667C8.66667 10.2985 8.36819 10 8 10C7.63181 10 7.33333 10.2985 7.33333 10.6667C7.33333 11.0349 7.63181 11.3333 8 11.3333Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M12.6667 6.66667H3.33333C2.59695 6.66667 2 7.26362 2 8V13.3333C2 14.0697 2.59695 14.6667 3.33333 14.6667H12.6667C13.403 14.6667 14 14.0697 14 13.3333V8C14 7.26362 13.403 6.66667 12.6667 6.66667Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.66667 6.66667V4.66667C4.6667 3.93291 4.90884 3.21967 5.35553 2.63756C5.80222 2.05544 6.42851 1.63698 7.13726 1.44706C7.84601 1.25715 8.59762 1.3064 9.27553 1.58718C9.95344 1.86796 10.5198 2.36457 10.8867 3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
				{{t "Unlock full content"}}
			</a>
		</div>
	</div>
</div>