/* stylelint-disable at-rule-no-unknown */
blockquote.kg-blockquote-alt {
	padding: var(--spacing-7);
	font-size: 1.25rem;
	font-weight: var(--font-weight-light);
	font-style: normal;
	line-height: 1.4;

	/* Border. */
	&::before {
		display: none;
	}
}
