/* stylelint-disable at-rule-no-unknown */

.post-content {
	.kg-file-card {
		position: relative;
	}

	.kg-file-card a.kg-file-card-container {
		min-height: auto;
		gap: var(--spacing-6);
		padding: var(--spacing-7) var(--spacing-8);
		color: var(--color-foreground);
		background-color: transparent;
		box-shadow: inset 0 0 0 1px var(--color-border);
		border-radius: var(--radius-2);
		border: 0;
		transition: background-color 0.15s ease;

		&:hover {
			border: 0;
			background-color: var(--color-background-200);
		}
	}

	.kg-file-card-contents {
		margin: 0;
		justify-content: space-evenly;
		gap: var(--spacing-4);
	}

	/* Title. */
	.kg-file-card-title {
		@mixin heading-6;

		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		color: var(--color-contrast);
	}

	/* Caption. */
	.kg-file-card-caption {
		font-size: var(--font-small);
		line-height: inherit;
		margin-top: 0;
		opacity: 1;

		&:empty {
			display: none;
		}
	}

	.kg-file-card-title + .kg-file-card-caption {
		margin-top: var(--spacing-1);
	}

	/* Meta data. */
	.kg-file-card-metadata {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		gap: 0 var(--spacing-sm);
		margin-top: 0;
		font-size: var(--font-x-small);
		font-weight: var(--font-weight-medium);
		line-height: inherit;
		color: var(--color-mute);
	}

	.kg-file-card-filename {
		font-weight: inherit;
	}

	.kg-file-card-filesize {
		margin-left: auto;
		opacity: 1;
		font-size: 1em;

		&::before {
			display: none;
		}
	}

	/* Icon. */
	.kg-file-card-icon {
		flex: 0 0 auto;
		min-width: auto;
		border-radius: var(--radius-1);
		background-color: var(--color-accent);

		&::before {
			display: none;
		}

		svg {
			width: 1rem;
			height: 1rem;
			color: var(--color-accent-foreground);
		}
	}
}
