<ul class="social-links">
	{{#if @site.twitter}}
  <li>
    <a class="social-link" href="{{social_url type="twitter"}}" target="_blank" rel="noopener noreferrer">
      {{> "icons-social/twitter"}}
      <span>{{t "X"}}</span>
    </a>
  </li>
	{{/if}}
	{{#if @site.facebook}}
  <li>
    <a class="social-link" href="{{social_url type="facebook"}}" target="_blank" rel="noopener noreferrer">
      {{> "icons-social/facebook"}}
      <span>{{t "Facebook"}}</span>
    </a>
  </li>
	{{/if}}
</ul>
