{{#if @custom.display_color_scheme_toggle}}
<button class="toggle-color-scheme-button" value="dark-light-system" aria-label="{{t 'Toggle color scheme'}}">
	<span>
		{{> "icons/sun"}}
		{{> "icons/circle-half"}}
		{{> "icons/moon"}}
	</span>
</button>
{{/if}}