/* stylelint-disable at-rule-no-unknown */

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: var(--spacing-9) 0 var(--spacing-8);
	min-height: 100%;
	color: var(--color-foreground);
	font-family: var(--font-family-body);
	font-size: 16px;
	font-weight: var(--font-weight-regular);
	line-height: 1.5;
	font-style: normal;
	background: var(--color-background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	word-break: break-word;
}

body[style*='overflow: hidden'] {
	padding-right: var(--scrollbar-width, 0);
}

/* Announcement bar. */
#announcement-bar-root {
	margin-top: calc(var(--spacing-9) * -1);
	margin-bottom: var(--spacing-9);
}

/* Hide ghost button member portal. */
#ghost-portal-root > iframe {
	display: none;
}

/* For skip buttons and more. */
.screen-reader-text {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%) !important;
	word-wrap: normal !important;
	border: 0;
	z-index: 99999;

	&:focus {
		top: var(--spacing-6);
		left: var(--spacing-6);
		z-index: 100000;
		display: inline-flex;
		width: auto !important;
		height: auto !important;
		clip: auto !important;
		clip-path: none !important;
		text-decoration: none;
	}
}
