/* stylelint-disable at-rule-no-unknown */

*,
*::before,
*::after {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

/* Fix color for FontAwesome icons. */
:where(svg:not([stroke], [fill]):has(> :not([stroke], [fill]))) {
	fill: currentcolor;
}

body {
	-webkit-tap-highlight-color: rgb(0 0 0 / 0%);

	/* Resolves a problem with Geist font in Safari https://github.com/vercel/geist-font/issues/65 */
	font-synthesis-weight: none;
	text-size-adjust: 100%;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

p {
	margin-block-start: 0;
	margin-block-end: calc(var(--spacing-8) + var(--spacing-1));

	&:last-child {
		margin-block-end: 0;
	}
}

input,
button,
select,
textarea {
	font: inherit;
}

hr {
	margin: calc(var(--spacing-8) + var(--spacing-1)) 0;
	color: var(--color-border);
	border: 0;
	border-top: 1px solid var(--color-border);
	opacity: 1;
}

abbr[title] {
	text-decoration: underline dotted;
	cursor: help;
	text-decoration-skip-ink: none;
}

address {
	font-style: normal;
	line-height: inherit;
}

ol,
ul {
	padding-left: 2rem;
}

dt {
	font-weight: var(--font-weight-regular);
}

dd {
	margin-left: 0;
}

b,
strong {
	font-weight: var(--font-weight-semibold);
}

small {
	font-size: var(--font-small);
}

sub,
sup {
	position: relative;
	font-size: var(--font-small);
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

pre,
code,
kbd,
samp {
	font-family:
		SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
	font-size: 1em;
}

pre {
	display: block;
	overflow: auto;

	code {
		font-size: inherit;
		color: inherit;
		word-break: normal;
	}
}

code {
	word-wrap: break-word;
}

a > code {
	color: inherit;
}

kbd {
	padding: 0.1875rem 0.375rem;
	font-size: 0.875em;
	color: var(--color-background);
	background-color: var(--color-contrast);
	border-radius: 4px;

	kbd {
		padding: 0;
		font-size: 1em;
		font-weight: var(--font-weight-regular);
	}
}

img,
svg {
	vertical-align: middle;
}

table {
	caption-side: bottom;
	border-collapse: collapse;
}

caption {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: var(--color-secondary);
	text-align: left;
}

th {
	font-weight: var(--font-weight-medium);
	text-align: inherit;
	text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
	border-color: inherit;
	border-style: solid;
	border-width: 0;
}

label {
	display: inline-block;
}

button {
	border-radius: 0;
}

button:focus:not(:focus-visible) {
	outline: 0;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
}

button,
select {
	text-transform: none;
}

[role='button'] {
	cursor: pointer;
}

select {
	word-wrap: normal;

	&:disabled {
		opacity: 1;
	}
}

[list]:not(
		[type='date'],
		[type='datetime-local'],
		[type='month'],
		[type='week'],
		[type='time']
	)::-webkit-calendar-picker-indicator {
	display: none !important;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
[type='file']::file-selector-button {
	-webkit-appearance: button;
	color: inherit;

	&:not(:disabled) {
		cursor: pointer;
	}
}

::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

textarea {
	resize: vertical;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	float: left;
	width: 100%;
	padding: 0;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	font-weight: var(--font-weight-medium);
	line-height: inherit;

	+ * {
		clear: left;
	}
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
	padding: 0;
}

::-webkit-inner-spin-button {
	height: auto;
}

[type='search'] {
	outline-offset: -2px;
	-webkit-appearance: textfield;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
	padding: 0;
}

::file-selector-button {
	font: inherit;
	-webkit-appearance: button;
}

output {
	display: inline-block;
}

iframe {
	display: block;
	border: 0;
}

summary {
	display: list-item;
	cursor: pointer;
}

progress {
	vertical-align: baseline;
}

[hidden] {
	display: none !important;
}
