.container {
	width: var(--container--width);
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.container-wide {
	width: var(--container-wide--width);
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
