/* stylelint-disable at-rule-no-unknown */

/* Title. */
.popup-title {
	@mixin heading-6;
}

/* Overlay. */
.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	border: 0;
	background-color: transparent;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	transition:
		opacity 0.15s ease-in-out,
		visibility 0.15s ease-in-out;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-background-300);
		opacity: 0.8;
		transition: background-color 0.2s ease;
	}

	&:focus-visible::before {
		background-color: var(--color-background-400);
	}

	.popup-show & {
		opacity: 1;
		visibility: visible;
	}

	.popup-hide & {
		pointer-events: none;
	}
}

/* Navigation popup. */
.popup-navigation {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4);
	top: calc(var(--spacing-9) * -1);
	width: 100%;
	height: auto;
	overflow: hidden;
	pointer-events: none;
	opacity: 1;
	transition: visibility 0.9s;

	.popup-content {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: var(--spacing-6);
		max-height: calc(100vh - var(--header--min-height));
		padding: var(--spacing-9) var(--padding-h) 0;
		background-color: var(--color-background-100);
		overflow: hidden auto;
		scrollbar-width: none;
		clip-path: inset(0 0 100% 0);
		transition: clip-path 0.9s cubic-bezier(0.2, 1, 0.2, 1);

		> .navigation-primary {
			display: none;
		}

		> .navigation {
			flex-direction: column;

			.nav-link {
				opacity: 0;
				transform: translateY(5px);
				transition:
					transform 0.8s cubic-bezier(0.2, 1, 0.2, 1),
					opacity 0.4s ease,
					color 0.15s ease,
					background-color 0.15s ease;
				transition-delay: 0.2s;
			}
		}

		> .navigation > ul {
			margin-right: calc(var(--navigation--link--padding-h) * -1);
			margin-left: calc(var(--navigation--link--padding-h) * -1);
		}
	}

	.popup-header {
		position: sticky;
		top: calc(var(--spacing-9) * -1);
		padding-top: var(--spacing-9);
		margin-top: calc(var(--spacing-9) * -1);
		margin-bottom: var(--spacing-7);
		backdrop-filter: blur(10px);
		z-index: 11;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-color: var(--color-background-100);
			opacity: 0.8;
		}

		> .container {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding-top: var(--spacing-9);
			margin: calc(var(--spacing-9) * -1) auto 0;
			min-height: calc(var(--header--min-height) + var(--spacing-9));
		}
	}

	.popup-close {
		order: 1;
	}

	.popup-footer {
		position: sticky;
		bottom: 0;
		padding: var(--spacing-7) 0 var(--spacing-7)
			calc(var(--navigation--link--padding-h) * -1);
		backdrop-filter: blur(10px);
		opacity: 0;
		transition: opacity 0.3s ease;
		z-index: 10;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-color: var(--color-background-100);
			opacity: 0.8;
			z-index: -1;
		}

		> .container {
			display: flex;
			align-items: center;
		}

		.toggle-color-scheme-button {
			flex: 0 0 auto;
			margin-left: auto;
		}
	}

	&.popup-show {
		width: calc(100% + var(--scrollbar-width, 0px));
		pointer-events: initial;

		.popup-content {
			clip-path: inset(0);
			padding-right: calc(var(--scrollbar-width, 0px) + var(--padding-h));

			> .navigation .nav-link {
				opacity: 1;
				transform: translateY(0);
				transition-delay:
					calc(var(--navigation--item-index, 0s) * 0.04s),
					calc(var(--navigation--item-index, 0s) * 0.04s), 0s, 0s;
			}
		}

		.popup-footer {
			opacity: 1;
			transition-delay: calc(var(--navigation--item-index, 0s) * 0.05s);
		}
	}
}

/* Comments popup. */
.popup-comments {
	position: fixed;
	display: flex;
	top: 0;
	right: 0;
	height: 100%;
	max-width: calc(100% + var(--scrollbar-width, 0px));
	padding: var(--spacing-5);
	margin-right: calc(var(--scrollbar-width, 0px) * -1);
	overflow: hidden;
	opacity: 1;
	visibility: hidden;
	z-index: 10001;
	transition: visibility 0.2s ease-in-out;

	.popup-close {
		margin-left: auto;
	}

	.post-comments {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 400px;
		max-width: 100%;
		padding: 0 var(--padding-h);
		margin-top: 0;
		margin-left: auto;
		overflow-y: auto;
		background-color: var(--color-background-100);
		clip-path: inset(0 0 0 100% round var(--radius-2));
		border-radius: var(--radius-2);
		transition: clip-path 0.5s cubic-bezier(0.2, 1, 0.2, 1);
	}

	.popup-header {
		position: sticky;
		top: 0;
		display: flex;
		align-items: center;
		gap: var(--spacing-7);
		padding: var(--spacing-7) var(--padding-h);
		width: calc(100% + var(--padding-h) * 2);
		margin: 0 calc(var(--padding-h) * -1);
		backdrop-filter: blur(10px);
		z-index: 2;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-color: var(--color-background-100);
			opacity: 0.8;
			z-index: -1;
		}
	}

	#ghost-comments-root {
		margin-top: var(--spacing-7);
		margin-bottom: auto;
	}

	/* Fix replay iframe. */
	.post-comments > #ghost-comments-root > div > iframe {
		position: absolute !important;
	}

	&.popup-show {
		max-width: 100%;
		margin-right: 0;
		visibility: visible;

		.post-comments {
			clip-path: inset(0 round var(--radius-2));
		}
	}
}

@media (--breakpoint-sm) {
	.popup-navigation .popup-content > .navigation-primary {
		display: block;
	}
}
