/* Author. */
.author-template .page-author-cover {
	width: var(--container--width);
	aspect-ratio: 21/9;
	overflow: hidden;
	border-radius: var(--radius-3);

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-color: var(--color-background-300);
	}

	+ .section-hero-image {
		margin-top: calc(var(--spacing-1) * -1 - 30px);
		outline: 4px solid var(--color-background);
	}
}

/* Page. */
.page-template .post-content:not(:empty) {
	margin-top: 0;
}
