.dropdown {
	--dropdown--translate-x: 0;
	--dropdown--offset: var(--spacing-3);

	top: 100%;
	right: -1px;
	min-width: 160px;
	margin-top: var(--dropdown--offset);
	background-color: var(--color-background);
	box-shadow:
		inset 0 0 0 1px var(--color-border),
		0 3px 15px rgb(0 0 0 / 10%);
	border-radius: var(--radius-2);
	transform: translate(var(--dropdown--translate-x), -2px);
	transition:
		visibility 0.15s ease,
		opacity 0.15s ease,
		transform 0.2s ease;

	/* Zone hover. */
	&::before {
		content: '';
		position: absolute;
		top: calc(var(--dropdown--offset) * -1);
		right: 0;
		left: 0;
		height: var(--dropdown--offset);
	}
}

.dropdown-top {
	top: auto;
	bottom: 100%;
	margin-top: 0;
	margin-bottom: var(--dropdown--offset);

	&::before {
		top: auto;
		bottom: calc(var(--dropdown--offset) * -1);
	}
}
