/* stylelint-disable at-rule-no-unknown */

.pricing-wrapper {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: auto;
}

/* Toggle. */
.pricing-toggle {
	position: relative;
	align-self: center;
	gap: var(--spacing-1);
	padding: 3px;
	margin-bottom: calc(var(--spacing-8) * -1);
	background-color: var(--color-background);
	border: 1px solid var(--color-border);
	border-radius: 2rem;
	z-index: 1;
}

.pricing-trial {
	display: none;
}

/* Toggles. */
.pricing-toggle-monthly,
.pricing-toggle-yearly {
	--button--padding-v: 0.643em;
	--button--padding-h: 1.214em;
	--button--min-height: auto;
	--button--border-radius: 2rem;
	--button--color: var(--color-contrast);
	--button-hover--color: var(--color-contrast);
	--button--background-color: transparent;
	--button-hover--background-color: var(--color-background-300);
}

/* Active toggle. */
.pricing-toggle-input-monthly:checked
	~ .pricing-toggle
	> .pricing-toggle-monthly,
.pricing-toggle-input-yearly:checked
	~ .pricing-toggle
	> .pricing-toggle-yearly {
	--button--background-color: var(--color-background-300);
}

/* List. */
.pricing-container {
	--pricing--columns: 1;

	position: relative;
	display: grid;
	grid-template-columns: repeat(var(--pricing--columns), minmax(0, 1fr));
	justify-content: center;
	width: auto;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	clip-path: inset(-1px 1px);

	/* pricing === 1. */
	&:has(.pricing:only-child) {
		width: var(--container--width);
		clip-path: none;

		&::before {
			left: 0;
			width: 100%;
		}

		.pricing {
			width: 100%;
			padding-right: calc(var(--spacing-9) + var(--spacing-2));
			padding-left: calc(var(--spacing-9) + var(--spacing-2));
		}

		.pricing::after {
			display: none;
		}
	}

	/* pricing === 2. */
	&:has(.pricing:nth-child(2):last-child) {
		--pricing--columns: 2;
	}

	/* pricing === 3. */
	&:has(.pricing:nth-child(3):last-child) {
		--pricing--columns: 3;
	}

	/* pricing >= 4. */
	&:has(.pricing:nth-child(n + 4)) {
		--pricing--columns: 4;
	}

	/* Frame. */
	&::before {
		content: '';
		position: absolute;
		top: var(--spacing-3);
		left: var(--spacing-3);
		width: calc(100% - var(--spacing-6));
		height: calc(100% - var(--spacing-6));
		border: 1px solid var(--color-border);
		border-radius: var(--radius-2);
	}

	.pricing-toggle:has(label + label) + &::before {
		top: 0;
		height: calc(100% - var(--spacing-3));
	}
}

/* Item. */
.pricing {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing-8) + var(--spacing-1));
	width: 337px;
	max-width: 100%;
	margin-top: -1px;
	padding: var(--spacing-10);

	/* Separator horizontal. */
	&::after {
		content: '';
		position: absolute;
		top: var(--spacing-10);
		right: 0;
		bottom: var(--spacing-10);
		left: 0;
		border-left: 1px solid var(--color-border);
	}

	&:first-child::after {
		display: none;
	}

	&:last-child::after {
		border-right: 1px solid var(--color-border);
	}

	/* Separator vertical. */
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: var(--spacing-10);
		left: var(--spacing-10);
		border-top: 1px solid var(--color-border);
	}
}

/* Button. */
.pricing-button {
	margin-top: auto;
}

/* Header. */
.pricing-header {
	display: flex;
	align-items: center;
	width: 100%;
}

/* Name. */
.pricing-name {
	@mixin heading-6;
}

/* Price. */
.pricing-price {
	gap: var(--spacing-1);
	margin-left: auto;
	font-size: var(--font-x-small);
	font-weight: var(--font-weight-medium);
	color: var(--color-mute);

	> span:first-child {
		@mixin heading-6;

		color: var(--color-contrast);
	}
}

/* Description. */
.pricing-description {
	font-size: var(--font-small);
	margin-bottom: 0;
}

/* Benefits. */
.pricing-benefits {
	padding: 0;
	margin: 0 0 var(--spacing-2);
	font-size: var(--font-small);
	list-style: none;

	> li {
		position: relative;
		padding-left: 1.5rem;

		+ li {
			margin-top: var(--spacing-6);
		}

		/* Icon check. */
		&::after {
			content: '';
			position: absolute;
			top: 0.35rem;
			left: 0.225rem;
			width: 0.563rem;
			height: 0.563rem;
			background-color: var(--color-accent-foreground);
			mask-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 2.59998L3.375 6.72497L1.5 4.84998" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
			mask-size: 100% 100%;
		}

		/* Background check. */
		&::before {
			content: '';
			position: absolute;
			top: 0.15rem;
			left: 0;
			width: 1rem;
			height: 1rem;
			background-color: var(--color-accent);
			border-radius: 50%;
		}
	}
}

/* Discount. */
.pricing-discount {
	position: absolute;
	right: 0;
	bottom: calc((var(--spacing-10) + var(--spacing-3)) * 0.5);
	left: 0;
	color: var(--color-mute);
	font-size: var(--font-x-small);
	font-weight: var(--font-weight-medium);
	text-align: center;
	transform: translateY(50%);
}

/* Signin. */
.pricing-signin {
	width: var(--container--width);
	max-width: 100%;
	padding: var(--spacing-7) var(--spacing-8);
	border: 1px solid var(--color-border);
	border-radius: var(--radius-2);

	> :where(p) {
		margin-bottom: var(--spacing-4);
	}
}

/* 2 columns for large screen when count pricing >= 4. */
@media (--breakpoint-lg) {
	/* pricing >= 4. */
	.pricing-container:has(.pricing:nth-child(n + 4):last-child) {
		--pricing--columns: 2;
	}
}

/* 1 column for medium screen. */
@media (--breakpoint-md) {
	.pricing-container {
		width: var(--container--width);
	}

	.pricing {
		width: 100%;
	}

	/* pricing === 2. */
	.pricing-container:has(.pricing:nth-child(2):last-child) {
		--pricing--columns: 1;
	}

	/* pricing === 3. */
	.pricing-container:has(.pricing:nth-child(3):last-child) {
		--pricing--columns: 1;
	}

	/* pricing >= 4. */
	.pricing-container:has(.pricing:nth-child(n + 4):last-child) {
		--pricing--columns: 1;
	}
}

/* Small horizontal paddings for small screen. */
@media (--breakpoint-sm) {
	.pricing-container {
		clip-path: none;

		&::before {
			left: 0;
			width: 100%;
		}
	}

	.pricing {
		padding-left: var(--padding-h);
		padding-right: var(--padding-h);
	}

	.pricing::after {
		display: none;
	}
}
