/* stylelint-disable at-rule-no-unknown */

.toc-wrapper {
	position: absolute;
	top: 0;
	right: calc(50% - var(--container--width) * 0.5 - 250px - var(--spacing-10));
	height: 100%;
	pointer-events: none;

	.post-content & + * {
		margin-top: 0;
	}
}

.toc {
	position: sticky;
	top: var(--spacing-7);
	width: 250px;
	max-height: calc(100vh - var(--spacing-7) * 2);
	padding: var(--spacing-6) var(--spacing-7);
	font-size: var(--font-small);
	font-weight: var(--font-weight-medium);
	overflow-y: auto;
	border: 1px solid var(--color-border);
	border-radius: var(--radius-2);
	pointer-events: visible;

	ul {
		margin: 0;
		padding: 0 0 0 var(--spacing-4);
		list-style: none;
	}

	> ul {
		padding: var(--spacing-5) 0 0;
	}

	li {
		position: static;
		padding: 0;

		+ li {
			margin-top: 0;
		}

		&::before {
			display: none;
		}
	}

	a {
		display: block;
		padding: var(--spacing-2) 0;
		line-height: 1.3;
		color: var(--color-secondary);
		text-decoration: none;

		&:hover,
		&.active {
			color: var(--color-contrast);
			text-decoration: underline;
		}
	}
}

.toc-title {
	display: flex;
	align-items: center;
	gap: var(--spacing-4);
	color: var(--color-contrast);

	> svg {
		flex: 0 0 auto;
	}
}

.toc-hidden {
	display: none;
}

.toc-button {
	display: none;
}

.toc-unlock-link {
	/* stylelint-disable-next-line no-descending-specificity */
	a {
		display: flex;
		align-items: center;
		gap: 0.4em;
	}

	svg {
		width: 1em;
		height: 1em;
		min-width: 1em;
	}
}

.toc > .toc-unlock-link {
	display: none;
}

@media (--breakpoint-xl) {
	.toc-wrapper {
		position: static;
		margin: 0 auto calc(var(--spacing-8) + var(--spacing-3));
		width: 100%;
		max-width: var(--container--width);
	}

	.toc {
		position: relative;
		display: flex;
		gap: 0 var(--spacing-3);
		flex-wrap: wrap;
		top: auto;
		right: auto;
		width: 100%;
		max-height: none;
		padding: var(--spacing-4);
		overflow: hidden;
		transition: height 0.3s ease;

		.post-content & {
			margin-right: auto;
		}

		> ul {
			flex: 0 0 100%;
			padding: var(--spacing-5) var(--spacing-4) var(--spacing-1);
		}
	}

	.toc-hidden {
		display: none;
	}

	.toc-title {
		flex: 1 0 0%;

		> svg {
			display: none;
		}
	}

	.toc-button {
		position: static;
		display: flex;
		flex: 0 0 auto;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			max-height: 2.875rem; /* 46px */
		}
	}

	.toc-button[aria-expanded='false'] ~ ul {
		display: none;
	}
}
